body{
    background-repeat: no-repeat;
    background-size: cover;
}
.n{
    display: inline;
    font-size: large;
    border:5px solid green;
background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-radius:15px;
    padding: 10px;
 
}
details{
    padding:20px;
}
.m{ display: inline;
    font-size: large;
    border:5px solid bisque;
    background-color: #1cac78;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-radius:15px;
    padding: 10px;
    position: relative;
    left:15%;
    bottom:20px;
}
#mm{ display: inline-flex; bottom:50px;padding: 13px;}
#dance{height: 300px;width:450px; position: relative;left:790px;bottom:360px;}
#food{ height: 250px;width:400px;position: relative; bottom:100px;left:360px;}
#travel{height: 500px;width:400px;position: relative; bottom:650px;left:370px;}